body{
	background: url("../Images/header_bg.png") 0 top repeat-x;
    line-height: 1.8em;
    display: block;
    margin: 0;
    padding: 0;
}

div{
	margin: 0;
	padding: 0;
	display: block;
}

div#header{
	width: 980px;
	height: 95px;
	margin: 0 auto;
	z-index: 1;
}

#header{
	z-index: 300!important;
	position: relative;
}

div#header div#tdk_image{
	width: 120px;
	height: 25px;
	float: left;
	margin: 20px 0 20px 20px;
	display: inline;
}

div#header div#headway_image{
	width: 228px;
	height: 25px;
	float: left;
	margin-left: 30px;
	margin-top: 28px;
	display: inline;
}

div#header div#tdkworldwide_image{
	width: 130px;
	height: 15px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 20px;
	display: inline;
}

div#header ul#global_nav{
	width: 980px;
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
    clear: both;
}

div#header ul#global_nav li{
	float: left;
}

div#header ul#global_nav li a{
	display: block;
	color: white;
	text-align: center;
	width: 140px;
	text-decoration: none;
	margin-top: 3px;
}

div#stage{
	width:980px;
	height: 1120px;
	margin: 0 auto;
}

div#footer{
	width: 980px;
	height: 50px;
	margin: 0 auto;
	border-style: solid;
}

